rules_version = '2';

service cloud.firestore {
	match /databases/{database}/documents {

		function userExists() {
			return request.auth.uid != null;
		}
		function matchesUserId(key) {
			return request.auth.uid == key;
		}
		function isNewDocument() {
			return request.resource == null;
		}
		function isSigned() {
			return request.resource.data.createdBy == request.auth.uid && request.time == request.resource.data.createdAt;
		}
		function isAdmin() {
			return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
		}

		match /{document=**} {
			allow read, write: if false;
		}

		match /users/{key} {
			allow read: if matchesUserId(key);
		}

		match /charge-locations/{key} {
			allow read: if userExists();
			allow write: if (isNewDocument() && isSigned()) || isAdmin();
		}

	}
}